body {
	background-color: black;
}

.boxA{
  width: 100px;
  height: 100px;
  background-color: green;
}

.boxB{
width: 200px;
height: 200px;
background-color: red;
}

.boxC{
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.boxD{
  width: 400px;
  height: 400px;
  background-color: blue;
}

/*--------------------------------*/
/* Insert Media query 1 here		  */
/*--------------------------------*/

@media (max-width: 600px){
body {
	background-color: white;
}

.boxA{
  width: 100px;
  height: 100px;
  background-color: chocolate;
 
}

.boxB{
  width: 100px;
  height: 100px;
background-color: pink;
}

.boxC{
  width: 100px;
  height: 100px;
  background-color: khaki;
}

.boxD{
  width: 100px;
  height: 100px;
  background-color: brown;

}

/*--------------------------------*/
/* Insert Media query 2 here		  */
/*--------------------------------*/

}
@media (min-width: 1000px){
body {
	background-color: yellow;
}

.boxA{
  width: 100px;
  height: 100px;
  background-color: green;
  
}

.boxB{
  width: 100px;
  height: 100px;
background-color: purple;
}

.boxC{
  width: 100px;
  height: 100px;
  background-color: grey;
 
}

.boxD{
  width: 100px;
  height: 100px;
  background-color: orange;
  
}

}